@import url(var.css);

@import url(page/page.css);

@import url(header/header.css);

@import url(lead/lead.css);

@import url(services/services.css);

@import url(halls/halls.css);

@import url(booking/booking.css);

@import url(about/about.css);

@import url(feedback/feedback.css);

@import url(faq/faq.css);

@import url(footer/footer.css);

html {
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: Arial, Arial Black, sans-serif;
    color: var(--font-color);
    background-color: var(--main-background-color);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

h3 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}