.contacts__elem {
    min-height: 32px;
    padding-left: 60px;
}

.contacts__elem:first-child {
    background-image: url(../../../img/bx_bxs-location.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
}

.contacts__elem:nth-child(2) {
    background-image: url(../../../img/bx_bxs-phone-call.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
}

.contacts__elem:last-child {
    background-image: url(../../../img/bx_bxs-envelope.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
}

.contacts__elem:hover {
    color: hsl(288, 97%, 57%);
}