.feedback__pic {
    height: 280px;
    width: 280px;
    border-radius: 140px;
    background-repeat: no-repeat;
    background-size: auto;
}

.feedback__pic_first {
    background-image:
        radial-gradient(circle, rgba(196, 196, 196, 0), rgba(108, 2, 135, .5)),
        url(../../../img/person1.png);
}

.feedback__pic_second {
    background-image:
        radial-gradient(circle, rgba(196, 196, 196, 0), rgba(108, 2, 135, .5)),
        url(../../../img/person2.png);
}

.feedback__pic_third {
    background-image:
        radial-gradient(circle, rgba(196, 196, 196, 0), rgba(108, 2, 135, .5)),
        url(../../../img/person3.png);
}