.feedback__item {
    width: 980px;
    flex-basis: 319px;
}

.feedback__item_first {
    background-image: url(../../../img/person1.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.feedback__item_second {
    background-image: url(../../../img/person2.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.feedback__item_third {
    background-image: url(../../../img/person3.png);
    background-repeat: no-repeat;
    background-size: auto;
}