.booking__set input:focus {
    outline: 1px solid var(--decor-color1);
    transition-duration: .2s;
    transition-property: outline;
}

.booking__set input+label:hover {
    color: var(--decor-color1);
    transition-duration: .2s;
    transition-property: color;
}