.faq {
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-basis: 1180px;
}

.faq__item:nth-child(odd) {
    background-color: #FFF;
    color: #1C1A1A;
}

.faq__item:nth-child(even) {
    background-color: var(--decor-color3);
    color: #FFF;
}

.faq__icon_odd,
.faq__icon_even {
    display: block;
    width: 46px;
    height: 46px;
    user-select: none;
}

.faq__item:nth-child(odd)
.faq__icon_odd {
    background-image: url(../../img/faq-open-purple.svg);
}

.faq__icon_even {
    background-image: url(../../img/faq-open-white.svg);
}

.faq__item:nth-child(odd)
.faq__icon_odd:hover {
    background-image: url(../../img/faq-open-purple-hover.svg);
}

.faq__item:nth-child(odd)
.faq__icon_odd:active {
    background-image: url(../../img/faq-open-purple-active.svg);
}

.faq__icon_even:hover {
    background-image: url(../../img/faq-open-white-hover.svg);
}

.faq__icon_even:active {
    background-image: url(../../img/faq-open-white-active.svg);
}

.faq__item:nth-child(odd)
.faq__icon_odd_active {
    background-image: url(../../img/faq-open-purple-active.svg);
}

.faq__icon_even_active {
    background-image: url(../../img/faq-open-white-active.svg);
}

.faq__item:hover,
.faq__item:active,
.faq__item:focus {
    transition-duration: .2s;
    transition-property: background-image;
}

.faq__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.faq__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 57px 70px 100px;
    background-color: white;
    color: black;
}

.faq__button {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}

/* .faq__button:after {
    content: '';
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    background-image: url(../../img/faq-open-white.svg);
}

.faq__item:nth-child(odd)
.faq__button:after {
    background-image: url(../../img/faq-open-purple.svg);
} */

/* .faq__button:nth-child(even):after {
    background-image: url(../../img/faq-open-white.svg);
} */

/* .faq__button:nth-child(odd):after:hover {
    background-image: url(../../img/faq-open-purple-hover.svg);
}

.faq__button:nth-child(even):after:active {
    background-image: url(../../img/faq-open-purple-active.svg);
} */


@media (max-width: 1280px) {
    .faq {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .faq__list {
        row-gap: 16px;
    }

    /* .faq__item:nth-child(even) {
        background-color: #FFF;
        color: #1C1A1A;
    } */
}

@media (max-width: 900px) {
    .faq {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .faq__title {
        font-size: 18px;
        line-height: 24px;
    }

    .faq__text {
        font-size: 18px;
        line-height: 24px;
        padding: 25px 35px 50px;
    }
}

@media (max-width: 320px) {
    .faq {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .faq__icon_odd,
    .faq__icon_even {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .faq__title {
        font-size: 12px;
        line-height: 16px;
    }

    .faq__text {
        font-size: 12px;
        line-height: 16px;
        padding: 25px 35px 50px;
        padding: 15px 20px 30px;
    }

    .faq__button {
        padding: 7px 10px;
    }
}