.lead {
    padding: 15px 0;
    background-image: url('../../img/background.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 470px 100px;
}