.lead {
    padding-top: 25px;
    padding-bottom: 50px;
}

.lead__wrapper {
    min-height: 823px;
    position: relative;
}

.lead__wrapper::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../../img/background.png');
    top: 61px;
    left: 519px;
    background-repeat: no-repeat;
    width: 675px;
    height: 762px;
}

.lead__slogan {
    margin-bottom: 30px;
    padding-left: 100px;
    font-size: 28px;
    line-height: 50px;
}

.lead__list {
    margin-bottom: 150px;
    display: flex;
    gap: 43px;
    text-align: center;
    align-items: baseline;
}

.lead__p_count-cinema-halls {
    color: var(--decor-color2);
    font-weight: 900;
    font-size: 100px;
    font-family: Arial Black;
    line-height: 141px;
}

.lead__p_new {
    margin-bottom: 9px;
    color: var(--decor-color2);
    font-weight: 900;
    font-size: 75px;
    font-family: Arial Black;
    line-height: 106px;
    font-variant: small-caps;
}

.lead__p_cinema-halls,
.lead__p_new-devices {
    font-size: 30px;
    line-height: 34px;
}

.lead__book {
    width: 374px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--font-color);
    padding: 25px 69px;
    background: var(--decor-color4);
    border-radius: 10px;
    border-color: var(--decor-color4);
    filter: drop-shadow(0 0 20px var(--decor-color4));
}

.lead__book:hover,
.lead__book:focus {
    background-color: var(--decor-color6);
    border-color: var(--decor-color6);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}

.lead__book:active {
    background-color: var(--decor-color5);
    border-color: var(--decor-color6);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}

.lead__button-link {
    position: absolute;
    background-image: url('../../img/arrow.svg');
    background-repeat: no-repeat;
    width: 97px;
    height: 97px;
    top: 640px;
    right: 590px;
    bottom: 0;
    left: 550px;
}

@media (max-width: 1280px) {
    .lead {
        padding-bottom: 40px;
    }

    .lead__wrapper {
        min-height: 570px;
    }

    .lead__wrapper::before {
        top: 60px;
        left: 447px;
        width: 453px;
        height: 520px;
        background-size: contain;
    }

    .lead__slogan {
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
    }

    .lead__list {
        margin-bottom: 80px;
    }

    .lead__p_count-cinema-halls {
        font-size: 80px;
        line-height: 113px;
    }

    .lead__p_new {
        margin-bottom: 0;
        font-size: 60px;
        line-height: 85px;
    }

    .lead__p_cinema-halls,
    .lead__p_new-devices {
        font-size: 26px;
        line-height: 30px;
    }

    .lead__book {
        margin-left: 40px;
        width: 296px;
        font-size: 22px;
        padding: 17px 48px;
    }

    .lead__button-link {
        background-size: contain;
        width: 67px;
        height: 67px;
        top: 450px;
        left: 420px;
    }
}

@media (max-width: 900px) {
    .lead__wrapper {
        min-height: 505px;
    }

    .lead__wrapper::before {
        top: 43px;
        left: 285px;
        width: 409px;
        height: 479px;
        background-size: contain;
    }

    .lead__slogan {
        margin-bottom: 50px;
        padding-left: 70px;
        font-size: 18px;
        line-height: 24px;
    }

    .lead__list {
        margin-bottom: 100px;
        gap: 32px;
    }

    .lead__p_count-cinema-halls {
        font-size: 50px;
        line-height: 71px;
    }

    .lead__p_new {
        margin-bottom: 6px;
        font-size: 40px;
        line-height: 56px;
    }

    .lead__p_cinema-halls,
    .lead__p_new-devices {
        max-width: 103px;
        font-size: 16px;
        line-height: 18px;
    }

    .lead__book {
        margin-left: 0;
        width: 214px;
        font-size: 16px;
        line-height: 24px;
        padding: 11px 35px;
    }

    .lead__button-link {
        display: none;
    }
}

@media (max-width: 480px) {
    .lead {
        padding-bottom: 23px;
    }

    .lead__wrapper {
        min-height: 197px;
    }

    .lead__wrapper::before {
        top: 20px;
        left: 120px;
        width: 161px;
        height: 179px;
    }

    .lead__slogan {
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 10px;
        line-height: 14px;
    }

    .lead__list {
        margin-bottom: 30px;
        gap: 20px;
    }

    .lead__p_count-cinema-halls {
        font-size: 26px;
        line-height: 37px;
    }

    .lead__p_new {
        margin-bottom: 1px;
        font-size: 22px;
        line-height: 31px;
    }

    .lead__p_cinema-halls,
    .lead__p_new-devices {
        max-width: 65px;
        font-size: 10px;
        line-height: 11px;
    }

    .lead__book {
        width: 117px;
        font-size: 10px;
        line-height: 12px;
        padding: 8px 13px;
    }

    .lead__button-link {
        display: none;
    }
}