.lead {
    min-height: 882px;
    background-image: url('../../img/background.png');
    background-position: top 71px right 360px;
    background-repeat: no-repeat;
    background-size: auto;
    padding-left: 130px;
    padding-right: 130px;
}