.header {
    padding-top: 30px;
    padding-bottom: 25px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.header__logo-border {
    flex-shrink: 0;
    border: 1px solid var(--decor-color2);
    padding: 16.5px 20px 3px;
    position: relative;
}

.header__logo-border_up {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 70px;
    height: 1px;
    background-color: var(--main-background-color);
}

.header__logo-border_right {
    position: absolute;
    top: 30px;
    left: 119px;
    width: 1px;
    height: 37px;
    background-color: var(--main-background-color);
}

.header__logo-border_down {
    position: absolute;
    top: 64px;
    left: 50px;
    width: 70px;
    height: 1px;
    background-color: var(--main-background-color);
}

.header__logo-border_left {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 37px;
    background-color: var(--main-background-color);
}

.header__logo {
    width: 79px;
    height: 37px;
}

.header__menu-btn {
    display: none;
}

.header__menu-modal-close {
    display: none;
    background: url(../../img/close-menu.svg);
    width: 42px;
    height: 42px;
    border: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__menu_column {
    display: none;
    width: 688px;
    height: 388px;
    background-color: var(--main-background-color);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    padding-top: 15px;
    z-index: 99;
}

.header__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 22px;
    line-height: 50px;
    color: var(--font-color);
}

.header__list_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    font-size: 22px;
    line-height: 50px;
    color: var(--font-color);
}

.header__item {
    display: block;
    flex-shrink: 0;
}

.header__item:hover {
    color: var(--decor-color4);
    transition-duration: .2s;
    transition-property: color;
}

.header__book {
    flex-shrink: 0;
    padding: 9px 29px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    border: 3px solid var(--decor-color2);
    border-radius: 10px;
    color: var(--font-color);
    background-color: var(--main-background-color);
    text-transform: uppercase;
}

.header__book:hover,
.header__book:focus {
    background-color: var(--decor-color2);
    transition-duration: .2s;
    transition-property: background-color;
}

.header__book:active {
    background-color: var(--decor-color5);
    transition-duration: .2s;
    transition-property: color;
}

@media (max-width: 1280px) {
    .header__menu-btn {
        display: none;
    }

    .header__menu-modal-close {
        display: none;
    }

    .header__logo-border {
        padding: 15px 12px 3px;
    }

    .header__logo-border_up {
        width: 53px;
    }

    .header__logo-border_right {
        top: 25px;
        left: 87px;
        width: 1px;
        height: 32px;
    }

    .header__logo-border_down {
        top: 55px;
        left: 36px;
        width: 53px;
        height: 1px;
    }

    .header__logo-border_left {
        height: 32px;
    }

    .header__logo {
        width: 63px;
        height: 30px;
    }

    .header__list {
        font-size: 18px;
        line-height: 22px;
    }

    .header__book {
        padding: 7px 23px;
        font-size: 18px;
        line-height: 24px;
    }

    .header__list {
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .header__menu-btn {
        display: block;
        background: url(../../img/menu-768.svg);
        width: 54px;
        height: 29px;
        border: transparent;
    }

    .header__menu {
        display: none;
    }
}

@media (max-width: 480px) {

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .header__book {
        display: none;
    }

    .header__menu-btn {
        width: 39px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .header__logo {
        width: 48px;
        height: 23px;
    }

    .header__logo-border {
        padding: 11px 10px 3px;
    }

    .header__logo-border_up {
        width: 42px;
    }

    .header__logo-border_right {
        top: 20px;
        left: 68px;
        width: 1px;
        height: 26px;
    }

    .header__logo-border_down {
        top: 44px;
        left: 28px;
        width: 42px;
        height: 1px;
    }

    .header__logo-border_left {
        height: 26px;
    }
}