.contacts__link {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.contacts__link-first {
    background-image: url(../../../img/social_instagram_usual.svg);
}

.contacts__link-first:hover {
    background-image: url(../../../img/social_instagram_hover.svg);
}

.contacts__link-first:focus {
    background-image: url(../../../img/social_instagram_focus.svg);
}

.contacts__link-first:active {
    background-image: url(../../../img/social_instagram_active.svg);
}

.contacts__link-second {
    background-image: url(../../../img/social_vk.svg);
}

.contacts__link-third {
    background-image: url(../../../img/social_facebook.svg);
}

.contacts__link-forth {
    background-image: url(../../../img/social_telegram.svg);
}