.halls__item {
    display: flex;
    align-items: center;
    flex-basis: 580px;
    height: 349px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.halls__item_first {
    background: url('../../../img/Halls-80sVibes.jpg');
}

.halls__item_second {
    background: url('../../../img/Halls-StarWars.jpg');
}

.halls__item_third {
    background: url('../../../img/Halls-WildWest.jpg');
}

.halls__item_forth {
    background: url('../../../img/Halls-Neon.jpg');
}

.halls__item:hover {
    transition-duration: .2s;
    transform: scale(1.1, 1.1);
    transition-property: transform;
}