.services__item {
    height: 228px;
    flex-basis: 380px;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 700;
}

.services__item_vr {
    background-image: url(../../../img/VR.jpg);
}

.services__item_audio {
    margin-top: 70px;
    background-image: url(../../../img/Audio-system.jpg);
}

.services__item_karaoke {
    background-image: url(../../../img/Karaoke.jpg);
}

.services__item_table-games {
    margin-top: -70px;
    background-image: url(../../../img/Table-games.jpg);
}

.services__item_cinema {
    background-image: url(../../../img/Cinema-services.jpg);
}

.services__item_playstation {
    margin-top: -70px;
    background-image: url(../../../img/Playstation.jpg);
}

.services__item:hover {
    transition-duration: .2s;
    transform: scale(1.1, 1.1);
    transition-property: transform;
}