.lead__book {
    width: 374px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 25px 69px;
    background: hsl(288, 97%, 27%);
    border-radius: 10px;
    border-color: hsl(288, 97%, 27%);
}

.lead__book:hover,
.lead__book:focus {
    background-color: hsl(288, 88%, 34%);
    border-color: hsl(288, 88%, 34%);
}

.lead__book:active {
    background-color: hsl(275, 88%, 34%);
    border-color: hsl(275, 88%, 34%);
}