.lead__book {
    width: 374px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--font-color);
    padding: 25px 69px;
    background: var(--decor-color2);
    border-radius: 10px;
    border-color: var(--decor-color2);
    filter: drop-shadow(0 0 20px var(--decor-color2));
}

.lead__book:hover,
.lead__book:focus {
    background-color: var(--decor-color6);
    border-color: var(--decor-color6);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}

.lead__book:active {
    background-color: var(--decor-color5);
    border-color: var(--decor-color6);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}