.booking__submit-btn {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--decor-color2);
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 50px;
    position: relative;
    left: 763px;
    filter: drop-shadow(0 0 20px var(--decor-background-color));
}

.booking__submit-btn:hover {
    background-color: var(--decor-background-color);
    border-color: hsl(288, 97%, 27%);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}

.booking__submit-btn:focus {
    background-color: #FFFFFF;
    border-color: var(--decor-color2);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}

.booking__submit-btn:active {
    background-color: var(--decor-background-color);
    border-color: var(--decor-background-color);
    transition-duration: .2s;
    transition-property: background-color, border-color;
}