.booking__submit-btn {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 16px 50px;
    position: relative;
    left: 763px;
}

.booking__submit-btn:hover {
    background-color: hsl(288, 29%, 90%);
    border-color: hsl(288, 97%, 27%);
}

.booking__submit-btn:focus {
    background-color: #FFFFFF;
    border-color: hsl(288, 97%, 27%);
}

.booking__submit-btn:active {
    background-color: hsl(288, 29%, 90%);
    border-color: hsl(288, 29%, 90%);
}