.feedback__block {
    display: inline-flex;
    width: 980px;
    min-height: 319px;
}

.feedback__block:not(:last-child) {
    margin-bottom: 50px;
}

.feedback__block-image1 {
    background-image: url(../../../img/person1.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.feedback__block-image2 {
    background-image: url(../../../img/person2.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.feedback__block-image3 {
    background-image: url(../../../img/person3.png);
    background-repeat: no-repeat;
    background-size: auto;
}