.header__book {
    line-height: 30px;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    border: 3px solid hsl(288, 97%, 27%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(300, 1.9%, 10.4%);
    text-transform: uppercase;
}

.header__book:hover,
.header__book:focus {
    background-color: hsl(288, 97%, 27%);
}

.header__book:active {
    background-color: hsl(275, 88%, 34%);
}