.header__book {
    line-height: 30px;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    border: 3px solid var(--decor-color2);
    border-radius: 10px;
    color: var(--font-color);
    background-color: var(--main-background-color);
    text-transform: uppercase;
}

.header__book:hover,
.header__book:focus {
    background-color: var(--decor-color2);
    transition-duration: .2s;
    transition-property: background-color;
}

.header__book:active {
    background-color: var(--decor-color5);
    transition-duration: .2s;
    transition-property: color;
}