.faq__item {
    height: 87px;
    padding: 30px 200px 30px 70px;
    font-size: 24px;
    font-weight: 700;
    color: #1C1A1A;
}

.faq__item:nth-child(odd) {
    background-color: #FFF;
    background-image: url(../../../img/faq-open-purple.svg);
    background-repeat: no-repeat;
    background-position: 1064px center;
}

.faq__item:nth-child(odd):hover {
    background-color: #FFF;
    background-image: url(../../../img/faq-open-purple-hover.svg);
    background-repeat: no-repeat;
    background-position: 1064px center;
}

.faq__item:nth-child(odd):active {
    background-color: #FFF;
    background-image: url(../../../img/faq-open-purple-active.svg);
    background-repeat: no-repeat;
    background-position: 1064px center;
}

.faq__item:nth-child(even) {
    background-color: var(--decor-color3);
    color: #FFF;
    background-image: url(../../../img/faq-open-white.svg);
    background-repeat: no-repeat;
    background-position: 1064px center;
}

.faq__item:nth-child(even):hover {
    background-color: var(--decor-color3);
    color: #FFF;
    background-image: url(../../../img/faq-open-white-hover.svg);
    background-repeat: no-repeat;
    background-position: 1064px center;
}

.faq__item:nth-child(even):active {
    background-color: var(--decor-color3);
    color: #FFF;
    background-image: url(../../../img/faq-open-white-active.svg);
    background-repeat: no-repeat;
    background-position: 1064px center;
}

.faq__item:hover,
.faq__item:active,
.faq__item:focus {
    transition-duration: .2s;
    transition-property: background-image;
}