.about__blockquote {
    margin: 0;
    padding-left: 32px;
    width: 500px;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
}

.about__blockquote p {
    margin-bottom: 59px;
    position: relative;
}