.booking__item-cinema-hall {
    flex-basis: 250px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 7px 15px;
    border-radius: 8px;
    border: 3px solid #FFFFFF;
    cursor: pointer;
}

.booking__item-cinema-hall:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
    transition-duration: .2s;
    transition-property: background-color, border;
}

.booking__item-cinema-hall:focus {
    background-color: #FFFFFF;
    border: 3px solid #640AA3;
    transition-duration: .2s;
    transition-property: background-color, border;
}

.booking__item-cinema-hall:active {
    border: 3px solid #EADEED;
    transition-duration: .2s;
    transition-property: border;
}

.booking__item-cinema-hall-label {
    cursor: pointer;
}