.services__title {
    width: 800px;
    margin: 0 auto 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}